/*****************************
reset
*****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #111;
}

input {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

input[type='checkbox'] {
  display: none;
}

a {
  text-decoration: none;
}

/*****************************
container
*****************************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: fadeIn 0.5s linear;
  color: #fff;
}

.container:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*****************************
weather
*****************************/
.weather {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.weather__area,
.weather__sky {
  font-weight: 200;
}

.weather__temp {
  font-size: 26px;
  font-weight: 600;
}

/*****************************
clock
*****************************/
.clock {
  display: none;
  position: relative;
}

.clock__output {
  font-size: 115px;
}

/*****************************
greetings
*****************************/
.greetings {
  margin-bottom: 30px;
  position: relative;
}

.greetings__form,
.greetings__text,
.greetings__intro-text,
.greetings__form {
  display: none;
}

.greetings__intro-text {
  font-size: 50px;
  margin-bottom: 30px;
}

.greetings__input {
  width: 100%;
  height: 80px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 40px;
  color: #333;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.greetings__output-text {
  font-size: 35px;
}

.waving-hand {
  margin-left: 5px;
  display: inline-block;
  animation: wavingHand 2.5s infinite;
}

@keyframes wavingHand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*****************************
todo
*****************************/
.todo {
  display: none;
  position: relative;
  max-width: 470px;
  width: 100%;
}

.todo__list {
  max-height: 320px;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  padding-bottom: 80px;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.todo__form {
  margin-bottom: 30px;
}

.todo__input {
  width: 100%;
  height: 55px;
  padding: 20px 25px;
  font-size: 20px;
  border-radius: 40px;
  color: #333;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.todo__checkbox {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 60px;
  transition: 0.2s;
  cursor: pointer;
}

.todo__checkbox:hover {
  background: rgba(0, 0, 0, 0.7);
}

.todo__checkbox input[type='checkbox'] {
  position: absolute;
  left: 0;
}

.todo__checkbox label {
  position: relative;
  display: inline-block;
  width: 100%;
  font-weight: 300;
  cursor: pointer;
}

.todo__checkbox label:before {
  position: absolute;
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  left: -38px;
  margin-top: -8px;
  background: #fff;
  border-radius: 50%;
}

.todo__checkbox label:after {
  position: absolute;
  display: block;
  content: '';
  width: 6px;
  height: 10px;
  top: 50%;
  left: -50px;
  margin-top: -16px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  opacity: 0;
  transform: rotate(45deg) translate3d(0, 2px, 0) scale3d(0.7, 0.7, 1)
    translate(20px, -50%);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

input[type='checkbox']:checked + label:before {
  background: #1fd4aa;
}
input[type='checkbox']:checked + label:after {
  opacity: 1;
  transform: rotate(45deg) scale3d(1, 1, 1) translate(20px, -50%);
}

.todo__checkbox + .todo__checkbox {
  margin-top: 10px;
}

.todo__del-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  cursor: pointer;
  transition: 0.2s;
}

.todo__checkbox:hover .todo__del-btn:hover {
  color: red;
}

.todo__checkbox__done label {
  text-decoration: line-through;
}

/*****************************
footer
*****************************/
.github-logo {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.github-logo i {
  font-size: 32px;
  color: #fff;
  transition: 0.3s;
}

.github-logo:hover i {
  opacity: 0.5;
}

.github-logo:active {
  transform: scale(0.7);
}

/*****************************
flag
*****************************/
.showing {
  display: block;
}

.hidden {
  display: none;
}
